1_Web_API_Design_Guidelines.docx
2_C# Coding Guidelines and Best Practices.docx
3_MySQL Query Rules.docx
Advanced GUI Programming Guidelines.pdf
Guideline for Trainee.docx
Naming Convention Guidline.pdf
Pre_Joining_Topics_with_Weeks (1).xlsx
Week 1 & 2 MySQL Database Assignments.docx
Pre-join C# Training – Assignments (weeks 3–5).pdf


# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
*.Publish.xml

# Others
*.log
*.vs/
TestResults/
node_modules/
wwwroot/lib/