1_Web_API_Design_Guidelines.docx
2_C# Coding Guidelines and Best Practices.docx
3_MySQL Query Rules.docx
Advanced GUI Programming Guidelines.pdf
Guideline for Trainee.docx
Naming Convention Guidline.pdf
Pre_Joining_Topics_with_Weeks (1).xlsx