<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

	<targets>
		<target name="file" xsi:type="File"
        fileName="logs/app-${shortdate}.json"
        archiveFileName="logs/archives/app-{#}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="30"
        concurrentWrites="true"
        keepFileOpen="false">

			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="machine" layout="${machinename}" />
				<attribute name="correlationId" layout="${scopeproperty:CorrelationId}" />
			</layout>

		</target>


		<target name="console" xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file, console" />

		<logger name="NLogDemo.*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
