<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="controllerFile"
				fileName="Logs/ControllerLogs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}" />
	</targets>

	<rules>
		<logger name="ControllerLogger*" minlevel="Info" writeTo="controllerFile" />
	</rules>
</nlog>
