<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- Targets -->
	<targets>

		<!-- INFO LOG -->
		<target xsi:type="File"
				name="infoFile"
				fileName="${basedir}/Logs/Info/info-${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message}" />

		<!-- ERROR LOG -->
		<target xsi:type="File"
				name="errorFile"
				fileName="${basedir}/Logs/Error/error-${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message}|${exception:format=tostring}" />

	</targets>

	<!-- RULES -->
	<rules>

		<!-- Info & Warn -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoFile" />

		<!-- Error & Fatal -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />

	</rules>
</nlog>
